<div class="departments">
     <a ng-repeat="department in $ctrl.Departments()"
        class="department btn btn-smp btn-tall btn-sharp btn-accent upper bold"
        ng-click="$ctrl.SetDepartment(department)"
        ui-sref="{{department.state}}"
        ui-sref-active="active">{{department.title}}</a>
</div>

<div class="search"
     title="Feature not available yet">
     <svg class="btn-icon-sm">
          <use xlink:href="imgs/icons.svg#magnifying-glass"></use>
     </svg>
</div>


<new-form></new-form>
<notify-system-icon></notify-system-icon>
<notify-chat-icon></notify-chat-icon>
<div class="vbar"></div>
<profile-settings></profile-settings>
<app-settings-kebab></app-settings-kebab>