<div class="fgrid">
  <div class="fgcs1 fgce16 fgrs1">Contact/Agent</div>
  <div class="fgrid fgcs1 fgce17" ng-repeat="agent in $ctrl.gate.agents">
    <div class="fgrid fgcs1 fgce17 fgr2">
      <simple-input label="first name" class="fgcs1 fgce4" value="agent.firstname"></simple-input>
      <simple-input label="last name" class="fgcs4 fgce7" value="agent.lastname"></simple-input>
      <simple-input label="phone" class="fgcs7 fgce9" value="agent.phone.number"></simple-input>
      <simple-input label="ext" class="fgcs9 fgce10" value="agent.phone.ext"></simple-input>
      <simple-input label="email" class="fgcs10 fgce13" value="agent.email" type="email"></simple-input>
      <div class="fgcs16 fgrs1" ng-click="$ctrl.RemoveAgent($index)">X</div>
      <button ng-hide="agent.account" class="btn btn-sm btn-second fgcs1 fgce17 fgrs2" ng-click="agent.AddAccount()">+ create login account</button>
      <simple-input ng-show="agent.account" label="email" class="fgcs1 fgce4 fgrs2" value="agent.account.email"></simple-input>
      <simple-input ng-show="agent.account" label="username" class="fgcs4 fgce8 fgrs2" value="agent.account.username"></simple-input>
      <simple-input ng-show="agent.account" label="temporary password" class="fgcs8 fgce12 fgrs2" type="password" value="agent.account.password1" errmsg="{{agent.account.errmsg}}"></simple-input>
      <simple-input ng-show="agent.account" label="retype temporary password" class="fgcs12 fgce16 fgrs2" type="password" value="agent.account.password2" errmsg="{{agent.account.errmsg}}"></simple-input>
      <div  ng-show="agent.account" class="fgcs16 fgrs2" ng-click="agent.RemoveAccount()">X</div>
    </div>
  </div>
  <button class="btn btn-sm btn-second fgcs1 fgce17" ng-click="$ctrl.AddAgent()" >+ add another agent</button>
</div>