<form-container ng-transclude="subform">
</form-container>
<controls-container>
  <button ng-show="$ctrl.editItem.isSelected()"
          form="{{$ctrl.formid}}"
          type="submit"
          ng-click="$ctrl.SetSubmit('Update')">update
    <div class="icont icont-minute"><svg class="icon">
        <use xlink:href="imgs/icons.svg#circle-arrow-left"></use>
      </svg></div>
  </button>
  <button ng-show="$ctrl.editItem.isSelected()"
          form="{{$ctrl.formid}}"
          type="submit"
          ng-click="$ctrl.SetSubmit('Delete')">delete
    <div class="icont icont-minute"><svg class="icon grey">
        <use xlink:href="imgs/icons.svg#circle-plus"></use>
      </svg></div>
  </button>
  <button ng-hide="$ctrl.editItem.isSelected()"
          form="{{$ctrl.formid}}"
          type="submit"
          ng-click="$ctrl.SetSubmit('Add')">add
    <div class="icont icont-minute"><svg class="icon">
        <use xlink:href="imgs/icons.svg#circle-arrow-left"></use>
      </svg></div>
  </button>
  <button ng-click="$ctrl.Clear()">clear
    <div class="icont icont-minute"><svg class="icon grey">
        <use xlink:href="imgs/icons.svg#circle-plus"></use>
      </svg></div>
  </button>
</controls-container>
<list-container ng-transclude="list">
</list-container>