ui-list-insert {
  @flex-row();
  width: 100%;
  --background-color: @cp-highlight;
  --border-color: @cp-highlight;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;

  &:hover,
  &.active {
    --background-color: @cp-primary-pale;
    --border-color: @cp-primary-light;
  }

  .clickable();
}