<div class="category"
     ng-repeat="category in mainMenuCtrl.menulist | menuitems:'mainnav'">
  <div class="label">{{ category.Label }}</div>
  <div class="content">
    <div class="item-container"
         ng-repeat="item in category.app_menu_items | menuitems:'mainnav'"
         ui-sref-active="active">
      <div class="item"
           ui-sref="{{item.Route}}"
           ng-click="mainMenuCtrl.SetActive(item)"
           title="{{ category.Label }} {{ item.Label }}">
        <svg class="icon-nav">
          <use xlink:href="{{ item.Icon }}"></use>
        </svg>
        <a class="label"
           ui-sref="{{item.Route}}">{{ item.Label }}</a>
      </div>
      <div class="content"
           ng-class="{show: mainMenuCtrl.state.includes(item.Route)}">
        <div class="subitem"
             ng-repeat="subitem in item.app_menu_items | menuitems:'mainnav'"
             ui-sref-active="active">
          <a class="label"
             ui-sref="{{ subitem.Route }}"
             ng-click="mainMenuCtrl.SetActive(subitem)">{{ subitem.Label }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- '{{ item.Route}}' | includedByState -->