<ul class="nav-menu">
  <li ng-attr-id="{{ acc.id }}"
      ng-repeat="item in $ctrl.items.app_menu_items"
      ng-controller="accordion as acc"
      ng-init="acc.group = $ctrl.id">
    <div class="as-row nav-menu-item">
      <img class="menu-icon clickable"
           ng-src="{{item.Icon}}"
           ng-click="acc.Toggle()" />
      <div class="font-nav clickable"
           ng-click="acc.Toggle()"
           ng-attr-active="{{ acc.active }}">{{ item.Label }}</div>
    </div>
    <ul usk-hideable="">
      <li ng-attr-id="{{ acci.id }}"
          ng-repeat="subitem in item.app_menu_items"
          ng-controller="accordionItem as acci">
        <div ng-attr-active="{{ subitem.active }}"
             ng-click="$ctrl.SetActive(subitem)"
             class="font-nav2 clickable"
             ui-sref="{{subitem.Route}}" ng-attr-title="{{subitem.Title}}">{{ subitem.Label.toLowerCase() }}</div>
      </li>
    </ul>
  </li>
</ul>