.test-component .component-container {
  background-color: var(--cp-grey-heavy);
}

.test-component .component {
  cursor: pointer;
  font-size: var(--font-large);
  font-weight: normal;
  color: var(--cp-grey-light);
  font-family: var(--font-family-second);
}

.test-component .component:hover {
  color: var(--navbar-font-nav-color-hover);
  cursor: pointer;
  background-color: var(--cp-grey-light);
}

meta-component-post {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
}
meta-component-post > div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;

}
meta-component-post > meta-input {
  margin-bottom: 0px;
}

meta-component-post > a {
  display: flex;
  margin-bottom: 0px;
}