<button class="btn btn-second btn-sm"
        ng-click="$ctrl.Clear()">Clear</button>
<button class="btn btn-danger btn-sm"
        ui-sref="tmsapp.main.fin.chargeitems.detail">X</button>

<generic-input value="$ctrl.item.Name"
               on-update="$ctrl.UpdateAttr('templateName', value)"></generic-input>
<generic-select value="$ctrl.item.TransactionType"
                options="$ctrl.transtypes"
                keyname="TransTypeName"
                valname="TransTypeId"
                on-update="$ctrl.UpdateAttr('transactionType', id)"></generic-select>
<generic-select value="$ctrl.item.TemplateTypeId"
                options="$ctrl.templatetypes"
                keyname="Name"
                valname="TemplateTypeId"
                on-update="$ctrl.UpdateAttr('templateType', id)"></generic-select>
<table>
  <thead>
    <tr>
      <th>HELLo</th>
    </tr>
  </thead>
  <tr>
    <th ng-repeat="h in $ctrl.headers">
      {{ h }}
    </th>
  </tr>
  <tr ng-repeat="item in $ctrl.children">
    <td>
      My ID: {{ item.ident }} <br>
      Parent ID: {{ item.parent.ident }}
    </td>
    <td>
      <generic-input value="item.Name"
                     on-update="$ctrl.UpdateField('Name', value, item)"></generic-input>
    </td>
    <td>
      <generic-input value="item.Description"
                     on-update="$ctrl.UpdateField('Description', value, item)"></generic-input>
    </td>
    <td>
      <generic-datalist url="/api/chargetemplate/entitylist"
                        typed="item.entity.Name"
                        optionsname="entities"
                        keyname="Name"
                        valname="EntityId"
                        disablename="IsActive"
                        on-update="$ctrl.UpdateField('entity', value, item); $ctrl.UpdateField('EntityId', id, item)">
      </generic-datalist>
    </td>
    <td>
      <generic-select keyname="Name"
                      valname="AccountId"
                      options="$ctrl.accounts"
                      value="item.credit_account.AccountId"
                      on-update="$ctrl.UpdateField('credit_account', value ,item); $ctrl.UpdateField('CreditAccountId', id, item)">
      </generic-select>
    </td>
    <td>
      <generic-select keyname="Name"
                      valname="AccountId"
                      options="$ctrl.accounts"
                      value="item.debit_account.AccountId"
                      on-update="$ctrl.UpdateField('debit_account', value ,item); $ctrl.UpdateField('DebitAccountId', id, item)">
      </generic-select>
    </td>
    <td>
      <generic-input value="item.Price"
                     on-update="$ctrl.UpdateField('Price', value)"></generic-input>
    </td>
    <td>
      <generic-select options="[ {key: 'flat rate'} , {key: 'percentage'} ]"
                      valname="key"
                      value="item.PriceType"
                      on-update="$ctrl.UpdateField('PriceType', value)"></generic-select>
    </td>
    <td><button class="btn btn-primary btn-sm"
              ng-click="$ctrl.NewDep(item)">Dependant</button>
      <button ng-hide="item.DescendantId"
              class="btn btn-danger btn-sm"
              ng-click="$ctrl.DelEntry(item)">X</button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary"
              ng-click="$ctrl.NewEntry()">New</button></td>
    <td>
      <buttton class="btn btn-primary"
               ng-click="$ctrl.Submit()">Submit</buttton>
    </td>
  </tr>
</table>



<!--generic-table list="$ctrl.children"
               headers="$ctrl.headers"
               options="{ accounts: $ctrl.accounts }">
  <table-row>
    <generic-input value="item.Description"></generic-input>
    <generic-datalist url="/api/chargetemplate/entitylist"
                      typed="item.EntityId"
                      optionsname="entities"
                      keyname="Name"
                      valname="EntityId"
                      disablename="IsActive"></generic-datalist>

    <generic-select keyname="Name"
                    valname="AccountId"
                    options="$ctrl.options.accounts"
                    value="item.credit_account.AccountId"></generic-select>
    <generic-select keyname="Name"
                    valname="AccountId"
                    options="$ctrl.options.accounts"
                    value="item.debit_account.AccountId"></generic-select>
    <generic-input value="item.Price"></generic-input>
    <generic-select options="[ {key: 'flat rate'} , {key: 'percentage'} ]"
                    valname="key"
                    value="item.PriceType"></generic-select>
  </table-row>
</generic-table-->