<generic-input value="item.Description"></generic-input>
<generic-datalist url="/api/chargetemplate/entitylist"
                  typed="item.EntityId"
                  optionsname="entities"
                  keyname="Name"
                  valname="EntityId"
                  disablename="IsActive"></generic-datalist>
<generic-input value="item.credit_account.Name"></generic-input>
<generic-input value="item.debit_account.Name"></generic-input>
<generic-input value="item.Price"></generic-input>
<generic-input value="item.PriceType"></generic-input>