<div class="table">
  <div class="head">
    <div class="header">
      <div class="banner"
           ui-view="table_banner">
      </div>
      <div class="dropdown"
           ui-view="table_advanced"></div>
    </div>
    <div class="search"
         ng-class="{expanded: tctrl.expanded}"
         ui-view="{{ tctrl.searchView }}"
         meta="tctrl.meta"
         gate="tctrl.searchVal"
         on-search="tctrl.Search()">
    </div>
  </div>
  <div class="body scrollable">
    <div class="row"
         ng-class="{selected: listitem.selected }"
         ng-repeat="listitem in tctrl.gate">
      <div class="content"
           ui-view="{{ tctrl.contentView }}"
           gate="listitem"
           meta="tctrl.meta"
           table-meta="tctrl.meta"
           ng-click="tctrl.Select(listitem)"></div>
      <div class="expansion"
           ng-class="{expanded: listitem.selected}"
           ui-view="{{ tctrl.expansionView }}"
           gate="listitem"
           ng-on-animationend="console.error('Need to add animationend to focused tables')"></div>
    </div>
  </div>
</div>