<meta-biz-form gate="$ctrl.gate.CarrierId" meta="$ctrl.meta.CarrierId.tree"></meta-biz-form>
<meta-input ng-if="$ctrl.meta.OfficeName !== undefined" gate="$ctrl.gate.OfficeName" meta="$ctrl.meta.OfficeName"></meta-input>
<meta-address-form gate="$ctrl.gate.BrnchAddress" meta="$ctrl.meta.BrnchAddress.tree"></meta-address-form>
<meta-phone-form gate="$ctrl.gate.BrnchPhone" meta="$ctrl.meta.BrnchPhone.tree"></meta-phone-form>
<meta-phone-form ng-if="$ctrl.meta.BrnchFax !== undefined" gate="$ctrl.gate.BrnchFax" meta="$ctrl.meta.BrnchFax.tree"></meta-phone-form>
<meta-input ng-if="$ctrl.meta.MC !== undefined" gate="$ctrl.gate.MC" meta="$ctrl.meta.MC"></meta-input>
<meta-input ng-if="$ctrl.meta.McCertificatePhoto !== undefined" gate="$ctrl.gate.McCertificatePhoto" meta="$ctrl.meta.McCertificatePhoto"></meta-input>
<meta-input ng-if="$ctrl.meta.McCertificatePhoto.tree.ExpiredDate !== undefined" gate="$ctrl.gate.McCertificatePhoto.ExpiredDate" meta="$ctrl.meta.McCertificatePhoto.tree.ExpiredDate"></meta-input>
<meta-input ng-if="$ctrl.meta.DOT !== undefined" gate="$ctrl.gate.DOT" meta="$ctrl.meta.DOT"></meta-input>
<meta-input ng-if="$ctrl.meta.CrType !== undefined" gate="$ctrl.gate.CrType" meta="$ctrl.meta.CrType"></meta-input>
<meta-input ng-if="$ctrl.meta.IFTA_Acc !== undefined" gate="$ctrl.gate.IFTA_Acc" meta="$ctrl.meta.IFTA_Acc"></meta-input>
<meta-input ng-if="$ctrl.meta.IFTA_State !== undefined" gate="$ctrl.gate.IFTA_State" meta="$ctrl.meta.IFTA_State"></meta-input>
<meta-input ng-if="$ctrl.meta.SCAC !== undefined" gate="$ctrl.gate.SCAC" meta="$ctrl.meta.SCAC"></meta-input>
<meta-input ng-if="$ctrl.meta.state_OR !== undefined" gate="$ctrl.gate.state_OR" meta="$ctrl.meta.state_OR"></meta-input>
<meta-input ng-if="$ctrl.meta.state_NY !== undefined" gate="$ctrl.gate.state_NY" meta="$ctrl.meta.state_NY"></meta-input>
<meta-input ng-if="$ctrl.meta.state_NC !== undefined" gate="$ctrl.gate.state_NC" meta="$ctrl.meta.state_NC"></meta-input>
<meta-input ng-if="$ctrl.meta.state_SC !== undefined" gate="$ctrl.gate.state_SC" meta="$ctrl.meta.state_SC"></meta-input>
<meta-input ng-if="$ctrl.meta.state_NM !== undefined" gate="$ctrl.gate.state_NM" meta="$ctrl.meta.state_NM"></meta-input>
<meta-input ng-if="$ctrl.meta.state_KY !== undefined" gate="$ctrl.gate.state_KY" meta="$ctrl.meta.state_KY"></meta-input>
<meta-input ng-if="$ctrl.meta.state_FL !== undefined" gate="$ctrl.gate.state_FL" meta="$ctrl.meta.state_FL"></meta-input>