html, body { /* need this one first so the height of everything else will be 100% if needed */
  height:       100%;
  width:        100%;
  margin:       0px;
  padding:      0px;
}

div {
    margin:             2px;
    padding:            1px;
    border:             1px solid threedface;

    text-align:         center;
    vertical-align:     middle;

    width:              calc(100% - 4px);
    height:             calc(100% - 4px);

    box-sizing:         border-box;
    display:            inline-block;
    /*
    display:            flex;
    justify-content:    space-between;
    */
}
/* ------------------------------ GENERAL ---------------------------------- */

.as-col {
  /* force container to display content in columns */
  display: flex !important;
  flex-direction: column !important;
}

.as-row {
  /* force container to display content in rows */
  display: flex !important;
  flex-direction: row !important;
}

/* ------------------------------- FONTS ----------------------------------- */

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.upper {
  text-transform: uppercase;
}

.caps {
  text-transform: capitalize;
}

.font-link {
  /* used for text that needs to appear as a link */
  color: var(--color-blue-link);
  text-decoration: underline;
  text-decoration-color: var(--color-blue-link);
}


.font-link-ls {
  /* used for text that needs to appear as a link but smaller font */
  color: var(--color-blue-link);
  text-decoration: underline;
  text-decoration-color: var(--color-blue-link);
  font-size: var(--font-less);
}

.font-see-more {
  /* used for the small "see more" text inside of cards that expand */
  color: var(--color-gray-active);
  font-size: var(--font-less);
  font-weight: bold;
}

.font-sm {
  /* use to explicity specify small font */
  font-size: var(--font-small);
}

.font-ls {
  /* use to explicity specify font smaller than normal */
  font-size: var(--font-less);
}

.font-nm {
  /* use to explicity specify font that is normal */
  font-size: var(--font-norm);
}

.font-lg {
  /* use to explicity specify font that is larger than normal */
  font-size: var(--font-large);
}

.font-xlg {
  /* use to explicitly specify font that is more larger than normal */
  font-size: var(--font-xlarge);
}

.font-spr {
  /* use to explicitly specify the largest font */
  font-size: var(--font-super);
}

.font-page-title {
  font-size: var(--font-super);
  color: var(--color-gray-heavy);
  font-weight: bold;
  text-transform: uppercase;
}

.font-menu-title {
  font-size: var(--font-xxlarge);
  color: var(--color-white-main-nav-active);
  font-weight: bold;
  text-transform: uppercase;
}

.font-menu-title:hover {
  color: var(--color-white-font);
}

.font-menu-body {
  font-size: var(--font-xlarge);
  color: var(--color-gray-active);
  text-transform: uppercase;
  font-weight: bold;
}

.font-menu-body:hover {
  color: var(--color-gray-dormant)
}

.font-menu-body-active {
  font-size: var(--font-xlarge);
  color: var(--color-white-font);
  text-transform: uppercase;
  font-weight: bold;
}

.font-section-dormant {
  font-size: var(--font-xlarge);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray-dormant);
}

.font-section-active {
  font-size: var(--font-xlarge);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-usko-red);
}

.font-section-active-ul {
  font-size: var(--font-xlarge);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-usko-red);
  box-shadow: 0px 3px var(--color-usko-red);
}

.font-section-heading {
  font-size: var(--font-xlarge);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white-font);
}

.font-body-heading {
  font-size: var(--font-large);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray-heavy);
}

.font-body-heading-red {
  font-size: var(--font-large);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-usko-red);
}

.font-table-heading {
  font-size: var(--font-large);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white-font);
}

.font-body-bold {
  font-size: var(--font-norm);
  font-weight: bold;
  color: var(--color-gray-heavy);
}

.font-body {
  font-size: var(--font-norm);
  font-weight: normal;
  color: var(--color-gray-heavy);
}

/* ------------------------------- TABLE ----------------------------------- */

.table-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

div.table {
  display: flex;
  flex-direction: column;
  width: 1504px;

  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

div.table>.header {
  background: var(--color-usko-red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  box-shadow: inset 0px  -47px 0px var(--color-usko-red-highlight);
  padding: 9px 7px 12px 7px;
}
div.table>.header>div {
  /* make row flex to full size */
  flex: 1;
}

div.table>.header>div>div {
  margin: 0px 7px 0px 7px;
}

div.table>.header>div input{
  background: var(--color-white-font);
  flex-direction: row;
  margin-top: 14px;
}

div.table>.body {
  display: flex;
  flex-direction: column;
}

div.table .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

div.table>.body .row{
  margin-bottom: 20px;
  height: 86px;
  background: var(--color-white-bubble);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

div.table>.body .row:hover {
  width: 104%;
  background: pink; /* TODO: Remove var(--color-white-font); */
  margin-left: -2%;
}

div.table>.body .row>div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
}

/* ------------------------------ INPUTS ----------------------------------- */


input {
  min-width: 10px;
  flex-basis: auto;
  height: 28px;
  width: 100%;
  padding-left: 5px;
  border-radius: 2px;
  padding-left: 5px;
}

/* ----------------------------- BUTTONS ----------------------------------- */

.btn {
  margin-bottom: 22px;
}

.btn-sm {
  height: 32px;
  min-width: 64px;
}

.btn-lg {
  height: 64px;
  min-width: 240px;
}

.btn-passive {
  background: var(--color-gray-dormant);
  border-radius: 9px 9px 9px 9px;
  font-size: var(--font-norm);
  font-weight: bold;
  color: var(--color-white-font);
  min-height: 32px;

}

.btn-passive:hover {
  background: var(--color-gray-dormant-hover);
}




.btn-cta {
  background: var(--color-blue-action);
  border-radius: 9px 9px 9px 9px;
  font-size: var(--font-norm);
  font-weight: bold;
  color: var(--color-white-font);
  min-height: 32px;
}

.btn-expand {
  flex: 1
}


/* ------------------------------ TOP NAVBAR ------------------------------- */
.top-nav {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  height: 108px;
  align-items: flex-end;
  background: var(--color-background);
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.top-nav>* {
  margin-left: 64px;
  margin-bottom: 3px;
}

.top-nav>ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.top-nav>ul>li {
  margin-right: 50px;
}

.top-nav>ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray-dormant);
}

.top-nav>ul li a[active] {
  color: var(--color-usko-red);
  box-shadow: 0px 4px var(--color-usko-red);
}