.main-display-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: flex-start;
}

/* ---------------------------------------------------------------------------------------- */
.tool-container {
  padding: 10px;
  border: 0px #E41E22 solid;
}

.tool-icons {
  max-width: 25px;
  max-height: 25px;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
}

.tool-icons-last {
  float: right;
}

/* ---------------------------------------------------------------------------------------- */
div.main-menu-editor-controller {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main-menu-editor-view {
  background-color: var(--menu-background-color);
  color: var(--menu-leveltwo-color);
  font-family: var(--menu-levelone-font);
  font-weight: bold;
  /* margin: 10px; */
  width: 450px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.main-menu-editor-form {
  background-color: var(--menu-background-color);
  color: var(--menu-leveltwo-color);
  font-family: var(--menu-leveltwo-font);
  font-weight: bold;
  /* margin: 10px; */
  width: 100%;
  height: 100%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  /* float: right; */
}

th.main-menu-editor-form-group {
  padding-top: 20px;
  border-bottom: 3px var(--menu-background-color) solid;
}

td.main-menu-editor-form-group {
  padding-top: 20px;
  text-align: center;
}

button.main-menu-editor-form-group {
  background-color: var(--menu-background-color);
  color: var(--menu-levelone-color);
  font-family: var(--menu-levelone-font);
  font-weight: bold;
  font-size: var(--menu-levelone-size);
  padding: 10px;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
}

input.menu-editor-input {
  width: 400px;
  background-color: var(--menu-levelone-color);
  border: none;
}

table.main-menu-editor {
  background-color: #4c443b;
  width: none;
  height: none;
  display: table;
  padding: 0px 20px 20px 20px;
  border-radius: 20px;
  border-width: 5px;
}

/* ---------------------------------------------------------------------------------------- */
.navigation-container {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: var(--menu-container-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-tone-heavy);
  font-weight: bold;
  max-height: 100vh;
  height: 100vh;
  align-self: flex-start;
  text-align: center;
}

ul.nav-menu {
  text-align: left;
}

ul.nav-menu .nav-menu-item {
  margin-bottom: 6px;
  margin-top: 12px;
}

ul.nav-menu .nav-menu-item>img {
  position: relative;
  margin-left: 25px;
}

ul.nav-menu ul,
ul.nav-menu .nav-menu-item>div {
  position: absolute;
  left: 60px;
}



.main-content-container {
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

div.menu-container {
  position: absolute;
  top: 255px;
  min-height: 30%;
}

div.menu-container ul {
  list-style-type: none;
  position: relative;
}

div.menu-container li {
  vertical-align: baseline;
}

div.menu-container>ul>li {
  /* top level menu items */
  white-space: nowrap;
  margin-bottom: 20px;
}

div.menu-container>ul>li>ul>li {
  /* sub level menu items */
  margin-top: 8px;
}

div.menu-container li>span {
  position: relative;
  left: 60px;
}


.menu-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.nav-secondary {
  list-style: none;
  font-weight: normal;
  font-size: 10px;
}

.menu-item {
  cursor: pointer;
}