/* --- USED FOR SCAFFOLDING/ LAYOUTS --- */

#global-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: var(--cp-background);
  flex: 1;
  height: 100%;
}

/* -------------------------------- Main Layout ---------------------------- */
main-layout {
  --navbar-width: 196px;
  --navbar-width-min: 64px;

  --topnav-menu-height: 50px;
  --topnav-breadbar-height: 0px;
  --topnav-height: calc(var(--topnav-menu-height) + var(--topnav-breadbar-height));
  --topnav-menu-title-width: 225px;

  --topnav-bg-color: var(--cp-card);
  --topnav-top-border-color: var(--cp-background);
  --topnav-new-btn-bg-color: var(--cp-highlight);
  --topnav-new-btn-bg-color-hover: var(--cp-card);

  --topnav-profile-color: var(--cp-grey-light);
  --topnav-profile-color-hover: var(--cp-background);
  --topnav-profile-font-color: var(--cp-grey-mid);

  --topnav-icons-color: var(--cp-grey-light);
  --topnav-icons-color-hover: var(--cp-grey-mid);
  --topnav-icons-notice-color: var(--cp-usko-red-mid);
  --topnav-icons-notice-color-hover: var(--cp-usko-red);

  --navbar-menu-top: 168px;
  --navbar-collapse-top: 134px;
  --navbar-collapse-left: 200px;
  --navbar-collapse-left-min: 16px;

  --navbar-bg-color: var(--cp-default);
  --navbar-fancy-bg-color: var(--cp-highlight);
  --navbar-font-nav-cat-color: var(--cp-grey-light);
  --navbar-font-nav-color: var(--cp-grey-mid);
  --navbar-font-nav-color-active: var(--cp-highlight);
  --navbar-font-nav-color-hover: var(--cp-grey-mid);

  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: 1;
  height: 100%;
}

#main-navbar-container {
  display: flex;
  flex-direction: column;
  width: var(--navbar-width-min);
}

#main-navbar-container::-webkit-scrollbar {
  display: none;
}

#main-navbar-container.expanded {
  width: var(--navbar-width);
}


#main-display-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: calc(100vw - var(--navbar-width));
  overflow-x: hidden;
}

#main-display-container.expanded {
  width: calc(100vw - var(--navbar-width-min));
}

#main-topnav-container {
  display: flex;
  flex-direction: row;
  height: var(--topnav-height);
}

#main-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  /*height: calc(100% - var(--main-topnav-height));*/
  width: 100%;
  padding-left: var(--layout-page-content-margin);
  padding-right: var(--layout-page-content-margin);
}

#main-content-container::-webkit-scrollbar {
  display: none;
}

#main-chat-dock {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: var(--layer-max);
  bottom: 0px;
  height: 0px;
  width: 100vw;
}