/* ------------------------------- TABLE ----------------------------------- */

generic-table {
  display: flex;
  flex: 1;

  justify-content: center;

  width: 1563px;
}

generic-table>.table {
  display: flex;

  flex: 1;

  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

/* header of the table, includes search bar and banner */
.table>.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--color-accent-default);
  position: relative;
}


/* top red banner with field names */
.table>.header>.banner {
  display: flex;
  flex-direction: row;
  height: 34px;
  width: 96%;
  margin-left: 2%;

  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.table>.header>.banner>.field {
  display: flex;
  flex: 1;
  margin-left: 32px;
  flex-direction: row;
  justify-content: space-between;
}

.table>.header>.banner>.collapse-arrow {
  position: absolute;
  right: -20px;
  margin-bottom: 10px;
}

.table>.header>.banner>.collapse-arrow>img {
  height: 20px;
  width: 13px;
}

.table>.header>.banner>.collapse-arrow>img.expanded {
  transform: scaleY(-1);
}

.table>.header>.banner>.field>.sort-arrow>.arrow {
  display: none;
}

.table>.header>.banner>.field:hover>.sort-arrow>.arrow {
  display: flex;
  height: 8px;
  width: 8px;
}

.table>.header>.banner>.field>.sort-arrow>.bottom {
  transform: scaleY(-1);
}

.table>.header>.search {
  background-color: var(--color-accent-hover);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
}

.table>.header>.search>.content {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 96%;
  margin-left: 2%;

  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.table>.header>.search>.content>* {
  margin-left: 16px;
}

.table>.header>.search>.content>*:last-child {
  margin-right: 16px;
}

.table>.header>.search>.select {
  position: absolute;
  left: 12px;
  top: 26px;
  background-color: transparent;
  display: flex;

  align-items: center;
  align-content: center;
}

.table>.header>.search>.select>* {
  display: flex;
  flex: 1;
}

.table>.header>.banner>.field div {
  font-size: var(--font-norm);
  color: var(--color-highlight-bright);
}

.table>.header>.select-all {
  position: absolute;
  left: 12px;
  top: 6px;
}

/* header selection with extra options to apply on all selected items */
.table>.header>.select {
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: var(--color-highlight-bright);

  justify-content: flex-start;
  align-items: center;

  box-shadow: var(--shadow-drop-sm);
  z-index: 1;
}

.table>.header>.select>.counter {
  width: 20%;
  align-items: center;
  margin-left: 16px;
}

.table>.header>.select>.counter>.display {
  background-color: var(--color-accent-hover);
  color: var(--color-highlight-bright);
  font-size: var(--font-norm);
  font-family: var(--font-family-second);
  text-align: center;
  min-height: 22px;
  min-width: 26px;
  border-radius: 2px;
}

.table>.header>.select>.counter>div:last-child {
  font-family: var(--font-family-second);
  text-align: left;
  margin-left: 12px;
  font-size: var(--font-norm);
  color: var(--color-font-1);
  text-transform: uppercase;
}

.table>.header>.select>.options {
  display: flex;
  justify-content: flex-start;
}

.table table-select-options {
  display: flex;
  flex-direction: row;
}

.table table-select-options>*:not(:first-child) {
  margin-left: 32px;
}

div.table>.body {
  overflow-y: scroll;
  height: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.table>.body::-webkit-scrollbar {
  display: none;
}

.table>.body>.row>div.select {
  display: none;
  margin: 0px 0px 0px 12px;
}

.table>.body>.row>div.options {
  display: none;
  margin: 0px 12px 0px 0px;
}

.table>.body>.row.selected>div.select,
.table>.body>.row.selected>div.options,
.table>.body>.row:hover>.select,
.table>.body>.row:hover>.options {
  /* originally invisible, make visible */
  display: flex;
}

.table>.body>.row {
  display: flex;

  margin-bottom: 5px;

  height: 100px;
  width: 96%;
  margin-left: 2%;

  background: var(--color-highlight-bright);

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.table>.body>.row:hover {
  width: 98%;
  margin-left: 1%;
  padding-left: -1%;
  padding-right: -1%;
}

.table>.body>.row.selected {
  width: 100%;
  margin-left: 0px;
}

.table>.body>.row>div {
  display: flex;
  text-align: left;
}
.table>.body>.row>.select,
.table>.body>.row>.options {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.table>.body>.row>.content {
  flex-direction: row;
  padding: 0px 12px 0px 12px;
}

.table table-row {
  display: flex;
  flex-direction: row;
  text-align: left;
  vertical-align: middle;
  justify-content: center;
}

.table table-row > * {
  align-items: center;
  vertical-align: middle;
  text-align: left;
  display: flex;
}

.table table-row>*:not(:first-child) {
  margin-left: 26px;
}

.table table-row-options {
  display: flex;
  flex-direction: column;
}

/* ------ this is for indicating the width of the columns ------------*/

.c1 {
  width: calc(100% / 12);
}

.c2 {
  width: calc(100% / 6);
}

.c3 {
  width: 25%;
}

.c4 {
  width: calc(100% / 3);
}

.c6 {
  width: 50%;
}

.c8 {
  width: calc(100% / 1.5);
}

.c9 {
  width: 75%;
}

.c12 {
  width: 100%;
}