:root {

  --color-shadow-soft: rgba(0,0,0,0.16);

  --color-accent-default: #7F0000; /* default accent color, "usko red" */
  --color-accent-hover: #A5403B; /* hover over buttons with accent color */
  --color-accent-light: #CF6F6A; /* hover over tab text */

  --color-tone-dark: #000000; /* default text */
  --color-tone-heavy: #312B24; /* navbar, and some text*/
  --color-tone-middle: #848484; /* some text, buttons */
  --color-tone-light: #9E9E9E; /* some text, hover buttons, usually disabled text */
  --color-tone-bright:  #CFCFCF; /* some text, disabled text or hover, background */

  --color-background: #DCDCDC; /* background color of the whole app */

  --color-highlight-bright: #FFFFFF; /* text on dark background */
  --color-highlight-bubble: #F3F3F3; /* disabled button background */
  --color-highlight-hover: #A2CCEC; /* focus input fields */
  /* following colors used for buttons and tags */
  /* indicating success or valid */
  --color-button-text: white;
  --color-button-text-hover: white;

  --color-success: #00C9A0;
  --color-success-hover: #56E5BE;
  --color-success-soft: #CAF6EA;

  --color-info: #7F0000;
  --color-info-hover: #A5403B;

  /* indicating call to action buttons, i.e. submit */
  --color-primary: #4599D9;
  --color-primary-hover: #61B7F8;

  --color-second: #9E9E9E;
  --color-second-hover: #C6C6C6;

  /* indicating warnings */
  --color-warning: #EB8117;
  --color-warning-hover: #FF9C39;
  --color-warning-soft: #FFF3DC;
  /* indicating failure or fatal operations */
  --color-danger: #EE4437;
  --color-danger-hover: #FF6E63;
  --color-danger-soft: #FFC0BB;

  --color-disabled: #C6C6C6;
  --color-input-background: white;

  --font-small: 14px;
  --font-norm: 16px;
  --font-large: 20px;
  --font-giant: 25px;
  --font-super: 35px;

  --font-line-large: 20px;

  --font-family-primary: 'Arimo', Arial, Helvetica, sans-serif;
  --font-family-second: 'Poppins', Arial, Helvetica, sans-serif;

  --main-navbar-width: 258px;

  --btn-padding: 24px;
  --btn-height-min: 36px;
  --btn-height-max: 46px;
  --btn-height: 46px;

  --btn-sm-height: 24px;
  --btn-lg-height: 64px;

  --btn-line-height: 46px;
  --btn-sm-line-height: 36px;
  --btn-lg-line-height: 64px;

  --btn-width-min: 194px;
  --btn-width: 194px;

  --btn-sm-width-min: 154px;
  --btn-sm-width: 154px;

  --btn-lg-width-min: 304px;
  --btn-lg-width: 304px;

  /* ------ deprecated ----- */

  --usko-signature-red: #7E1110;
  --window-padding: 5px;
  --menu-container-size: 256px;
  --menu-background-color: #342E28;

  --menu-levelone-color: #F8F8F8;
  --menu-leveltwo-color: threedface;
    /* #716D6D */

  --color-usko-red: #7A1813;      /* Used as primary company color */
  --color-usko-red-highlight: #8E2924; /* Used as lighter accents for things colored with primary */
  --color-blue-link: #50A7E9; /* used for links and clickable */
  --color-blue-action: #55A7E5;
  --color-blue-dropoff: #0E516E;
  --color-blue-pickup: #24B7D5;
  --color-gray-heavy: #3A3A3A;
  --color-gray-active: #716D6D;
  --color-gray-dormant: #C1C1C1;
  --color-gray-background: #DCDCDC;
  --color-white-bubble: #F3F3F3;
  --color-white-font: white;
  --color-usko-brown: #342E28;
  --color-white-main-nav-active: #F8F8F8;
  --color-shadow-soft-gray: rgba(0, 0, 0, 0.16);

  --color-gray-dormant-hover: #D1D1D1;
  --color-gray-background-hover: #E0E0E0;


}
