<div class="cmpt-list-container scrollable c1">
  <div class="cmpt-title">Components</div>
  <div class="cmpt-list"
       ng-repeat="t in $ctrl.components | filter: {type: 'component'}"
       ng-click="$ctrl.SelectMe(t)">{{ t.component }}</div>
  <div class="cmpt-title">Forms</div>
  <div class="cmpt-list"
       ng-repeat="t in $ctrl.components | filter: {type: 'form'}"
       ng-click="$ctrl.SelectMe(t)">{{ t.component }}</div>
  <div class="cmpt-title">Tables</div>
  <div class="cmpt-list"
       ng-repeat="t in $ctrl.components | filter: {type: 'table'}"
       ng-click="$ctrl.SelectMe(t)">{{ t.component }}</div>
</div>
<div class="cmpt-res-container scrollable">
  <div>Response:</div>
  <pre>{{ $ctrl.response }}</pre>
</div>
<div class="cmpt-panel-container">
  <div class="cmpt-container scrollable"
       ui-view="component"></div>
  <div class="cmpt-panel-btns">
    <div class="as-col">
      <meta-input meta="{attr: {label: 'URL (as-is) to Push data to server'}}"
                  gate="$ctrl.url"></meta-input>
      <div class="btns as-row">
        <a class="btn btn-primary btn-sm"
           ng-click="$ctrl.Post()">post</a>
        <a class="btn btn-danger btn-sm"
           ng-click="$ctrl.ResetData()">reset data</a>
      </div>
    </div>
    <div class="as-col">
      <meta-input meta="{attr: {label: 'URL to Pull data from server'}}"
                  gate="$ctrl.geturl"></meta-input>
      <div class="btns as-row">
        <a class="btn btn-primary btn-sm"
           ng-click="$ctrl.Pull()">post</a>
        <a class="btn btn-second btn-sm"
           ng-click="$ctrl.Get()">get</a>
      </div>
    </div>
    <div class="as-col">
      When pulling data from server, it will append /search and /meta
    </div>
  </div>
</div>