<div class="colhead {{ h.size }}"
     ng-repeat="h in $ctrl.fields">
  <div class="colname font-tbl-head"
       ng-click="$ctrl.onSearchClick({index:$index});">{{ h.name }}</div>
  <svg class="sort-arrow top" ng-class="{active: $ctrl.SearchOrderActive(h.name, 'up') }"
       ng-click="$ctrl.SearchOrder(h.name, 'up'); $ctrl.Search();">
    <use xlink:href="imgs/icons.svg#triangle"></use>
  </svg>
  <svg class="sort-arrow bottom" ng-class="{active: $ctrl.SearchOrderActive(h.name, 'down') }"
       ng-click="$ctrl.SearchOrder(h.name,'down'); $ctrl.Search();">
    <use xlink:href="imgs/icons.svg#triangle"></use>
  </svg>
</div>