<ui-input-wrapper>
  <div class="form-label">marital status:</div>
  <ui-radio value="$ctrl.data.MaritalStatus"
            label="single"
            true-value="single"></ui-radio>
  <ui-radio value="$ctrl.data.MaritalStatus"
            label="married"
            true-value="married"></ui-radio>
  <ui-radio value="$ctrl.data.MaritalStatus"
            label="widowed"
            true-value="widowed"></ui-radio>
  <ui-radio value="$ctrl.data.MaritalStatus"
            label="divorced"
            true-value="divorsed"></ui-radio>
</ui-input-wrapper>