main-layout2 {
  --topbar-height: 50px;
  --logo-width: 9.375%;
  --logo-width-max: 180px;
  @flex-col();
  height: 100vh;
  width: 100vw;

  #topbar-container {
    @flex-row();
    width: 100%;
    height: var(--topbar-height);

    #logo-view {
      @flex-row();
      width: var(--logo-width);
      max-width: var(--logo-width-max);
      height: 100%;
      background: @cp-card;
      border-right: 1px solid @cp-grey-light;
    }

    #topnav-view {
      @flex-row();
      height: 100%;
      width: calc(100% - var(--logo-width));
      max-width: calc(100% - var(--logo-width-max));
    }
  }
  #body-container {
    @flex-row();
    width: 100%;
    height: calc(100% - var(--topbar-height));

    #mainnav-view {
      @flex-row();
      width: fit-content;
      height: 100%;
    }

    #content-view {
      @flex-col();
      flex-grow: 1;
      height: 100%;
    }


  }
}