<div class="table">
  <div class="head">
    <div class="header"
         ui-view="{{ tctrl.bannerView }}">
    </div>
    <div>{{ ctrl }}</div>
    <div class="search"
         ng-class="{expanded: tctrl.expanded}"
         ui-view="{{ tctrl.searchView }}"
         search="tctrl.search"
         colsize="tctrl.colsize"
         on-search="tctrl.SearchField(field, value)">
    </div>
  </div>
  <div class="body scrollable">
    <div class="row"
         ng-class="{selected: listitem.selected }"
         ng-repeat="listitem in tctrl.list">
      <div class="content"
           ng-hide="listitem.edit"
           ui-view="{{ tctrl.contentView }}"
           item="listitem"
           colsize="tctrl.colsize"
           ng-click="tctrl.Select(listitem)"></div>
      <div class="expansion"
           ng-class="{expanded: listitem.selected}"
           ui-view="{{ tctrl.expansionView }}"
           item="listitem"></div>
    </div>
  </div>
</div>