<typeinput>
  <input ng-model="$ctrl.value"
         ng-required="{{$ctrl.required}}"
         ng-attr-pattern="{{$ctrl.pattern}}"
         ng-attr-type="password"
         ng-disabled="{{$ctrl.disabled}}"
         ng-attr-placeholder="{{$ctrl.placeholder}}"
         ng-attr-title="{{$ctrl.title}}" />
  <label ng-if="$ctrl.label != undefined">{{ $ctrl.label }}</label>
  <div class="error-msg font-error-msg">
    <div ng-repeat="error in $ctrl.errmsg | filter {enabled: true}">{{ $ctrl.errmsg}}</div>
  </div>
</typeinput>