<typeinputlist ng-attr-id="{{$ctrl.id}}">
  <input list="{{$ctrl.listid}}"
         ng-model="$ctrl.typed"
         ng-required="{{$ctrl.required}}"
         ng-disabled="{{$ctrl.disabled}}"
         ng-change="$ctrl.Search(); $ctrl.Validate($ctrl.typed)"
         placeholder="type to search..."
         ng-class="{invalid: !$ctrl.valid}" />
  <label ng-if="$ctrl.label != undefined">{{ $ctrl.label }}</label>
  <div class="error-ms">{{ $ctrl.errmsg || 'This field is required' }}</div>
  <datalist ng-attr-id="{{$ctrl.listid}}"
            ng-disabled="{{$ctrl.disabled}}">
    <option ng-repeat="item in $ctrl.options">{{ item[$ctrl.keyname] }}</option>
  </datalist>
</typeinputlist>