<ui-table-flowout style="min-width: 686px; height: 100%;"
                  on-search="$ctrl.Search(query)"
                  data-fields="$ctrl.fields"
                  data-mapping="$ctrl.map">
  <header-banner>
    <ui-table-header style="width: 100%"
                     fields="$ctrl.fields">
      <ui-table-banner>
        <div class="colhead {{ h.size }}"
             ng-repeat="h in $ctrl.fields">
          <div class="colname font-tbl-head"
               ng-click="$ctrl.FocusMe($index);">{{ h.name }}</div>
          <ui-table-sort-arrow-vert data-direction="$ctrl.chipsrv.Sort(h.name)"
                                    update-field="$ctrl.UpdateSort(h.name, value)"></ui-table-sort-arrow-vert>
        </div>

      </ui-table-banner>
      <ui-table-search-basic>
        <ui-table-search-input class="{{h.size}}"
                               data-value="h.value"
                               data-index="$index"
                               ng-repeat="h in $ctrl.fields"
                               on-update="$ctrl.UpdateField(h.name, value)"
                               done-type="$ctrl.UpdateField(h.name, value)"></ui-table-search-input>
      </ui-table-search-basic>
      <ui-table-search-advanced>
        <div class="col">
          <div class="row">
            <div class="label font-med-label2 font-c-grey">name</div>
            <div class="fields">
              <ui-input-clear data-label="business name"
                              on-update="$ctrl.UpdateField('business name', value)"
                              done-type="$ctrl.UpdateField('business name', value)"></ui-input-clear>
              <ui-input-clear data-label="office name"
                              on-update="$ctrl.UpdateField('office name', value)"
                              done-type="$ctrl.UpdateField('office name', value)"></ui-input-clear>
            </div>
          </div>
          <div class="row">
            <div class="label font-med-label2 font-c-grey">mc</div>
            <div class="fields">
              <ui-input-clear data-label="MC"
                              on-update="$ctrl.UpdateField('mc', value)"
                              done-type="$ctrl.UpdateField('mc', value)"></ui-input-clear>
              <ui-input-clear data-label="SCAC"
                              on-update="$ctrl.UpdateField('scac', value)"
                              done-type="$ctrl.UpdateField('scac', value)"></ui-input-clear>
              <ui-input-clear data-label="DOT"
                              on-update="$ctrl.UpdateField('dot', value)"
                              done-type="$ctrl.UpdateField('dot', value)"></ui-input-clear>
            </div>
          </div>
          <div class="row">
            <div class="label font-med-label2 font-c-grey">address</div>
            <div class="fields">
              <ui-input-clear data-label="street"
                              on-update="$ctrl.UpdateField('street', value)"
                              done-type="$ctrl.UpdateField('street', value)"></ui-input-clear>
              <ui-input-clear data-label="city"
                              on-update="$ctrl.UpdateField('city', value)"
                              done-type="$ctrl.UpdateField('city', value)"></ui-input-clear>
              <ui-input-clear data-label="zip"
                              on-update="$ctrl.UpdateField('zip', value)"
                              done-type="$ctrl.UpdateField('zip', value)"></ui-input-clear>

              <ui-input-clear data-label="state"
                              on-update="$ctrl.UpdateField('state', value)"
                              done-type="$ctrl.UpdateField('state', value)"></ui-input-clear>
            </div>
          </div>
          <div class="row">
            <div class="label font-med-label2 font-c-grey">amount insured</div>
            <div class="fields">
              <ui-input-clear data-label="amount insured"
                              on-update="$ctrl.UpdateField('amount insured', value)"
                              done-type="$ctrl.UpdateField('amount insured', value)"></ui-input-clear>
            </div>
          </div>
        </div>
      </ui-table-search-advanced>
    </ui-table-header>
  </header-banner>
  <body-content>
    <ui-table-row ng-repeat="item in $ctrl.carrierList"
                  on-select="$ctrl.Select(item)">
      <div class="bold caps font-primary-text {{$ctrl.fields[0].size}}">{{ item.biz.BizName}}</div>
      <div class="font-basic-text {{$ctrl.fields[1].size}}">{{item.biz.has_carrier.MC}}</div>
      <div class="{{$ctrl.fields[2].size}}"
           style="height: 100%;">
        <ui-address-basic address="item.brnch_address"></ui-address-basic>
      </div>
      <div class="font-basic-text  {{$ctrl.fields[3].size}}">-- no info available</div>
    </ui-table-row>
  </body-content>
</ui-table-flowout>