ui-business-branches-form {
  @flex-row();
  width: 100%;
  height: 100%;

  ui-list {
    width: 200px;
    min-width: 200px;
  }

  form-container {
    height: 100%;
    @flex-col();
  }

}

form {
  @flex-col();

  form-row {
    @flex-row();
  }

  form-col {
    @flex-col();
  }
}