dev-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

dev-forms .left-panel {
  display: flex;
  flex-direction: column;
  width: 15%;
}

dev-forms #form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

dev-forms #form .row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

dev-forms #form .row>*:not(:last-child) {
  margin-right: 8px;
}

dev-forms #form .col {
  display: flex;
  flex-direction: column;
}

dev-forms .data {
  display: flex;
  flex-direction: column;
  width: 25%;
  word-wrap: normal;
  margin-right: 0px;
}

dev-forms .section {
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}