meta-form-section-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 2px !important;
  border-color: var(--cp-grey-light);
  border-style: solid !important;
  margin-bottom: 10px !important;
}

meta-form-section-header>.remove {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  align-items: center;
  cursor: pointer;
}

meta-form-section-header>.remove>.trash {
  max-height: 16px;
  max-width: 16px;
  fill: var(--cp-primary);
  margin-right: 3px;
  margin-bottom: 3px;
}

meta-form-section-header>.remove>a {
  font-family: var(--font-family-primary);
  font-size: var(--font-small);
  font-weight: var(--font-weight-medium);
  text-decoration-line: none;
  text-transform: uppercase;
  color: var(--cp-primary);
}