<meta-input ng-if="$ctrl.meta.BizId.tree.BizName !== undefined" gate="$ctrl.gate.BizId.BizName" meta="$ctrl.meta.BizId.tree.BizName"></meta-input>
<meta-input ng-if="$ctrl.meta.OfficeName !== undefined" gate="$ctrl.gate.OfficeName" meta="$ctrl.meta.OfficeName"></meta-input>
<meta-input ng-if="$ctrl.meta.BizId.tree.BizURL !== undefined" gate="$ctrl.gate.BizId.BizURL" meta="$ctrl.meta.BizId.tree.BizURL"></meta-input>
<meta-input ng-if="$ctrl.meta.BrnchEmail !== undefined" gate="$ctrl.gate.BrnchEMail" meta="$ctrl.meta.BrnchEMail"></meta-input>