<meta-biz-form gate="$ctrl.gate.BizId" meta="$ctrl.meta.BizId.tree"></meta-biz-form>
<meta-input ng-if="$ctrl.meta.OfficeName !== undefined" gate="$ctrl.gate.OfficeName" meta="$ctrl.meta.OfficeName"></meta-input>
<meta-address-form ng-if="$ctrl.meta.BrnchAddress !== undefined" gate="$ctrl.gate.BrnchAddress" meta="$ctrl.meta.BrnchAddress.tree"></meta-address-form>
<meta-phone-form ng-if="$ctrl.meta.BrnchPhone !== undefined" gate="$ctrl.gate.BrnchPhone" meta="$ctrl.meta.BrnchPhone.tree"></meta-phone-form>
<meta-phone-form ng-if="$ctrl.meta.BrnchFax !== undefined" gate="$ctrl.gate.BrnchFax" meta="$ctrl.meta.BrnchFax.tree"></meta-phone-form>
<meta-input ng-if="$ctrl.meta.BrnchEmail !== undefined" gate="$ctrl.gate.BrnchEMail" meta="$ctrl.meta.BrnchEMail"></meta-input>