<div ng-attr-id="{{$ctrl.id}}"
     class="input">
  <input ng-model="$ctrl.showValue"
         ng-required="{{$ctrl.required}}"
         ng-attr-pattern="{{$ctrl.pattern}}"
         ng-attr-type="{{$ctrl.type}}"
         ng-disabled="{{$ctrl.disabled}}"
         ng-attr-placeholder="{{$ctrl.placeholder}}"
         ng-attr-title="{{$ctrl.title}}" />
  <label ng-if="$ctrl.label != undefined">{{ $ctrl.label }}</label>
  <div class="error-ms">{{ $ctrl.errmsg || 'This field is required' }}</div>
</div>