<ui-select label="prefix"
           data="$ctrl.data.Prefix"
           data-table="EntPerson"
           data-column="Prefix"></ui-select>
<simple-input label="first name"
              value="$ctrl.data.FirstName"
              required="1"></simple-input>
<simple-input label="middle name"
              value="$ctrl.data.MiddleName"></simple-input>
<simple-input label="last name"
              value="$ctrl.data.LastName"
              required="1"></simple-input>
<ui-select label="suffix name"
           data="$ctrl.data.Suffix"
           data-table="EntPerson"
           data-column="Suffix"></ui-select>
<simple-input label="nickname"
              value="$ctrl.data.NickName"></simple-input>