<div ui-expand
     open="$ctrl.open"
     class="header"
     ng-class="{expanded: expCtrl.IsOpen()}"
     ng-click="expCtrl.Toggle()">
  <div class="title font-lrg-label2 font-c-default">{{ $ctrl.title }} <span class="font-lrg-label2 font-c-default" ng-if="$ctrl.ShowCount()">({{ $ctrl.count}})</span></div>
  <svg class="icon-tiny"
       style="margin-left: auto; margin-right: 0px;">
    <use xlink:href="imgs/icons.svg#arrow-incomplete"></use>
  </svg>
</div>
<div class="body"
     ng-show="expCtrl.IsOpen()"
     ng-transclude="content">
</div>