<simple-input label="street address/P.O. box"
              value="$ctrl.data.Street1"
              required="1"></simple-input>
<simple-input label="city"
              value="$ctrl.data.City"
              required="1"></simple-input>
<simple-input label="state"
              value="$ctrl.data.State"
              required="1"></simple-input>
<simple-input label="zip"
              value="$ctrl.data.Zip"
              required="1"></simple-input>
<simple-input label="country"
              value="$ctrl.data.Country"
              required="1"></simple-input>