<form-row>
  <simple-input class="fc3"
                label="street address/P.O. box"
                value="$ctrl.data.Street1"
                required="1"></simple-input>
  <simple-input class="fc3"
                label="apt/suite"
                value="$ctrl.data.Street2"></simple-input>
</form-row>
<form-row>
  <simple-input label="city"
                value="$ctrl.data.City"
                required="1"></simple-input>
  <simple-input label="state"
                value="$ctrl.data.State"
                required="1"></simple-input>
  <simple-input label="zip"
                value="$ctrl.data.Zip"
                required="1"></simple-input>

</form-row>
<form-row>
  <simple-input class="fc3"
                label="country"
                value="$ctrl.data.Country"
                required="1"></simple-input>
</form-row>