<style>
  div.nav-editor ul {
    list-style-type: none;
  }

  div.nav-editor li {
    list-style-type: none;
    padding-left: 20px;
  }
</style>


<script type="text/ng-template"
        id="navigationItem">
  <a class="font-nav2 clickable"
      ng-click="$ctrl.SelectItem(item)">{{ item.Label }}[{{ item.MenuItemId }}]</a>
  <ul ng-if="item.app_menu_items" >
    <li ng-repeat="item in item.app_menu_items"
        ng-include="'navigationItem'">
    </li>
  </ul>
</script>

<div class="nav-editor">TREE GOES HERE
  <ul>
    <li ng-repeat="item in $ctrl.tree"
        ng-include="'navigationItem'"></li>
  </ul>
</div>