<div class="logo-container">
  <div class="logo-fancy"></div>
  <a href="/">
    <img class="logo-img"
         id="logo-image"
         src="imgs/logo.svg">
  </a>
</div>
<div class="menu-container">
  <ul id="menu-tree">
    <li ng-repeat="leftmenu in app_menu_items">
      <img class="menu-icon menu-item"
           ng-if="leftmenu.Icon"
           onclick="MenuHideShow(this)"
           ng-src="{{leftmenu.Icon}}"
           title="{{leftmenu.Title}}" />
      <span class="menu-item font-menu-title"
            onclick="MenuHideShow(this)"
            title="{{leftmenu.Title}}">{{leftmenu.Label}}</span>
      <ul ng-if="leftmenu.app_menu_items"
          style="display: none">
        <li ng-repeat="leftmenu in leftmenu.app_menu_items">
          <span class="menu-item font-menu-body"
                title="{{leftmenu.Title}}"
                ng-click="MenuAction(leftmenu)">{{leftmenu.Label}}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="tool-container">
  <img class="tool-icons"
       src="imgs/message.svg">
  <img class="tool-icons"
       src="imgs/profile.svg">
  <img class="tool-icons tool-icons-last"
       onclick="FlipCollapseMenu(this)"
       src="imgs/collapse-arrow.svg">
</div>