<label ng-required="$datalistctrl.required == 1"
       ng-if="$datalistctrl.label != undefined">{{ $datalistctrl.label }}</label>
<input list="{{$datalistctrl.listid}}"
       ng-model="$datalistctrl.typed"
       ng-required="$datalistctrl.required == 1"
       ng-disabled="{{$datalistctrl.disabled}}"
       ng-change="$datalistctrl.TimedSearch();"
       ng-class="{invalid: !$datalistctrl.valid}" />
<errors>{{ $datalistctrl.errmsg || 'This field is required' }}</errors>
<datalist id="{{$datalistctrl.listid}}">
       <option ng-repeat="item in $datalistctrl.options">{{ item.display }}</option>
</datalist>
<a ng-if="$datalistctrl.NewProfile()"
   class="input-new-btn"
   ui-sref="{{$datalistctrl.route}}">+new</a>
<a ng-if="$datalistctrl.NewForm()"
   class="input-new-btn"
   popup-form="{{$datalistctrl.form}}"
   on-close="$datalistctrl.data = data; $datalistctrl.DataToTyped()">+new</a>