@size-normal: 32px;
@size-medium: 22px;
@size-small: 20px;
@size-minute: 16px;
@size-tiny: 14px;
@size-micro: 12px;
@size-mini: 10px;

.icon {
  height: 100%;
  width: 100%;

  // use icon to label svg's as icons.
  // deprecated, just use icont (icon container)

  &-mi,
  &-mini {
    max-width: @size-mini;
    max-height: @size-mini;
  }

  &-mr,
  &-micro {
    max-width: @size-micro;
    max-height: @size-micro;
  }

  &-sm,
  &-small {
    max-width: @size-small;
    max-height: @size-small;
  }

  &-ty,
  &-tiny {
    max-width: @size-tiny;
    max-height: @size-tiny;
  }

  &-mn,
  &-minute {
    max-width: @size-minute;
    max-height: @size-minute;
  }


}

.icont {
  @flex-row();
  align-items: center;
  justify-content: center;


  &-mi,
  &-mini {
    max-width: @size-mini;
    max-height: @size-mini;
  }


  &-mr,
  &-micro {
    height: @size-micro;
    width: @size-micro;
  }

  &-ty,
  &-tiny {
    height: @size-tiny;
    width: @size-tiny;
  }

  &-mn,
  &-minute {
    height: @size-minute;
    width: @size-minute;
  }

  &-sm,
  &-small {
    height: @size-small;
    width: @size-small;
  }

  &-md,
  &-medium {
    height: @size-medium;
    width: @size-medium;
  }

  &-nm,
  &-normal {
    height: @size-normal;
    width: @size-normal;
  }
}