@size-normal: 32px;
@size-medium: 22px;
@size-small: 20px;
@size-minute: 16px;
@size-tiny: 14px;

.icon {
  max-width: @size-normal;
  max-height: @size-normal;

  &-sm, &-small {
    max-width: @size-small;
    max-height: @size-small;
  }

   &-ty, &-tiny {
    max-width: @size-tiny;
    max-height: @size-tiny;
   }

   &-mn, &-minute {
     max-width: @size-minute;
     max-height: @size-minute;
   }
}