<grand-header>
  <div class="title-container">
    <div class="title">registered branches</div>
    <div class="icont icont-small"
         ng-click="$ctrl.AddNewEmpty()">
      <svg class="icon">
        <use xlink:href="imgs/icons.svg#circle-plus"></use>
      </svg>
    </div>
  </div>
  <form ng-submit="$ctrl.GetData()">
    <simple-input value="$ctrl.search_query['me.OfficeName']"></simple-input>
    <button type="submit"
            hidden></button>
  </form>

</grand-header>
<inserts class="scrollable">
  <ui-list-insert type="branch-form"
                  ng-repeat="item in $ctrl.items"
                  item="item"
                  ng-click="$ctrl.Select(item)"></ui-list-insert>
</inserts>