<grand-header>
  <div class="title-container">
    <div class="title">drivers</div>
    <div class="icont icont-small"
         ng-click="$listctrl.AddNewEmpty()"
         ui-state="'tmsapp.main2.profile.business.driver.detail'"
         ui-state-params="{driverid: 'new'}">
      <svg class="icon-ty">
        <use xlink:href="imgs/icons.svg#plus"></use>
      </svg>
    </div>
  </div>
  <ui-input template="submit"
            data="$listctrl.user_query"
            on-change="$listctrl.GetData('GetBusinessDriverList',{user_query: $listctrl.user_query})">
  </ui-input>
</grand-header>
<inserts class="
            scrollable">
  <div ui-view="new-item">

  </div>
  <ui-list-insert type="branch-form"
                  ng-repeat="item in $listctrl.items"
                  ui-sref-active="active"></ui-list-insert>
</inserts>