
body {
  width: 8.5in;
  height: 11in;
  margin: 0px;
  padding: 0px;
}

.page {
  page-break-after: always;
  position: relative;
  width: 8.5in;
  height: 11in;
  background: rgb(250,250,250);
}

.page-content {
  position: absolute;
  width: 8.0in;
  height: 10.5in;
  left: 0.25in;
  top: 0.25in;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: 11px Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
  background: transparent;
  border-collapse: collapse;
}

b {
  font-weight: bold;
}

@media screen {
  .page-content {
    border-style: dashed;
    border-width: 1px;
    border-color: rgba(180,180,180,230);
  }
}