<div id="page-header">
  <div id="page-navigation">
    <div id="page-title"
         class="font-page-title caps">{{ $pageCtrl.PageTitle() }}</div>
    <a ui-sref="{{tab.state}}"
       ui-sref-active="active"
       class="page-tabs btn btn-smp btn-nm "
       ng-repeat="tab in $pageCtrl.PageTabs()">{{ tab.title }}</a>

    <div class="v-div"
         ng-if="$pageCtrl.PageOptionals().length > 0"></div>
    <a class="page-option btn btn-smp btn-nm"
       ng-repeat="option in $pageCtrl.PageOptionals()">{{ option.title }}</a>
    <div class="page-actions"
         ui-view="page-actions">
    </div>

  </div>
  <div id="breadcrumbs">
    <a class="btn btn-smp back-button"
       ng-click="$pageCtrl.GoBack()"
       ng-show="$pageCtrl.CanGoBack()">
      <svg class="icon-tiny">
        <use xlink:href="imgs/icons.svg#circle-arrow-left"></use>
        <div class="text font-medlavel2 caps">go back</div>
      </svg>
    </a>
    <div id="breadcrumb-path">
      <svg class="home-icon icon-tiny">
        <use xlink:href="imgs/icons.svg#house"></use>
      </svg>
      <div ng-repeat="page in $pageCtrl.pagesrv.pages"
           ui-sref="{{page.state}}"
           class="breadcrumb-page font-primary-text">/ {{ page.title }}</div>
    </div>
    <div id="page-optional"
         ui-view="page-optional"></div>
  </div>
</div>
<div id="page-content"
     ui-view="page-content">
</div>