<div id="page-header">
  <div id="page-navigation">
    <div id="page-title"
         class="font-page-title caps">{{ $ctrl.PageTitle() }}</div>
    <a ui-sref="{{tab.state}}" class="page-tabs btn btn-smp btn-nm " ng-repeat="tab in $ctrl.PageTabs()">{{ tab.title }}</a>

    <div class="v-div" ng-if="$ctrl.PageOptionals().length > 0"></div>
    <a class="page-option btn btn-smp btn-nm" ng-repeat="option in $ctrl.PageOptionals()">{{ option.title }}</a>
    <div class="page-actions">
      <a class="page-action btn btn-primary" ng-repeat="action in $ctrl.PageActions()">{{ action.title }}</a>
    </div>

  </div>
  <div id="breadcrumbs">
    <a class="btn btn-smp back-button">
      <svg class="icon-tiny">
        <use xlink:href="imgs/icons.svg#circle-arrow-left"></use>
        <div class="text font-medlavel2 caps">go back</div>
      </svg>
    </a>
    <div id="breadcrumb-path">
      <svg class="home-icon icon-tiny"><use xlink:href="imgs/icons.svg#house"></use></svg>
      <div ng-repeat=" i in [0,1,2,3,4,5]" class="breadcrumb-page font-primary-text">/ previous page</div>
    </div>
  </div>
</div>
<div id="page-content"
     ui-view="page-content">
</div>