<ui-form-section-item ng-repeat="section in $ctrl.EnabledSections()"
                      data-section="section"
                      ng-click="$ctrl.ScrollToSection(section)"
                      du-scrollspy="{{ section.title }}">
</ui-form-section-item>
<div class="info">
  <div class="title">additional sections</div>
  <div class="text">Select which sections you would like to add to your form:</div>
</div>
<ui-form-section-item ng-repeat="section in $ctrl.DisabledSections()"
                      data-section="section"
                      ng-click="section.active = true">
</ui-form-section-item>