<div class="table">
  <div class="head">
    <div class="header">
      <ternary-checkbox class="selectall"
                        value="tctrl.selectCount"
                        on-value="tctrl.list.length"
                        off-value="0"
                        ng-click="tctrl.SelectToggle()"></ternary-checkbox>
      <div class="banner">
        <div class="colhead {{ tctrl.colsize[$index] }}"
             ng-repeat="h in tctrl.headers">
          <div class="colname font-tbl-head"
               ng-click="tctrl.SearchFocus($index);tctrl.SearchExpand();">{{ h }}</div>
          <svg class="sort-arrow top"
               ng-click="tctrl.SearchExpand()">
            <use xlink:href="imgs/icons.svg#triangle"></use>
          </svg>
          <svg class="sort-arrow bottom"
               ng-click="tctrl.SearchExpand()">
            <use xlink:href="imgs/icons.svg#triangle"></use>
          </svg>

        </div>
      </div>
      <div class="dropdown"
           ng-class="{expanded: tctrl.expanded}"
           ng-click="tctrl.SearchToggle()">
        <svg class="dropdown-arrow">
          <use xlink:href="imgs/icons.svg#arrow-incomplete"></use>
        </svg>
      </div>
    </div>
    <div>{{ ctrl }}</div>
    <div class="search"
         ng-class="{expanded: tctrl.expanded}"
         ui-view="{{ tctrl.searchView }}"
         search="tctrl.search"
         colsize="tctrl.colsize"
         on-search="tctrl.SearchField(field, value)">
    </div>
    <div class="select"
         ng-class="{expanded: tctrl.SelectCount() > 0}">
      <div class="counter">
        <div class="display">{{ tctrl.SelectCount() }}</div>
        <div ng-if="tctrl.SelectCount() > 1">ITEMS SELECTED</div>
        <div ng-if="tctrl.SelectCount() < 2">ITEM SELECTED</div>
      </div>
      <div class="content"
           ui-view="{{ tctrl.selectView }}"></div>
    </div>
  </div>
  <div class="body scrollable">
    <div class="row"
         style="min-height: {{ tctrl.rowHeight }}"
         ng-mouseenter="listitem.hover = 1"
         ng-mouseleave="listitem.hover = 0"
         ng-init="listitem.hover = 0"
         ng-class="{selected: listitem.selected }"
         ng-repeat="listitem in tctrl.list">
      <div class="select">
        <generic-checkbox label=""
                          value="listitem.selected"
                          ng-click="tctrl.Select(listitem)"></generic-checkbox>
      </div>
      <div class="content"
           ng-hide="listitem.edit"
           ui-view="{{ tctrl.contentView }}"
           item="listitem"
           colsize="tctrl.colsize"></div>
      <div class="content"
           ng-show="listitem.edit"
           ui-view="{{ tctrl.editView }}"
           item="listitem"
           colsize="tctrl.colsize">
      </div>
    </div>
  </div>
</div>