meta-table-selector .body>.row.selected {
  background-color: var(--table-body-row-bg-color-selected);
}

meta-table-selector .body>.row>.select {
  height: 100%;
  align-items: center;
  flex-direction: row;
  visibility: hidden;
}

meta-table-selector .body>.row.selected>.select,
meta-table-selector .body>.row:hover>.select {
  visibility: visible;
}

meta-table-selector .body>.row {
  flex-direction: row;
}

meta-table-selector .selectall,
meta-table-selector .row>.select {
  position: absolute;
  display: flex;
  z-index: var(--layer-table-header);
  width: var(--table-row-select-width);
  left: 0px;
  padding-left: var(--table-row-select-padding-left);
}

/* This is for the dropdown for extra options to act on the selected items */
meta-table-selector .head>.select {
  height: 0px;
  z-index: var(--layer-table-select);
  background-color: var(--table-head-select-bg-color);

  box-shadow: var(--shadow-drop);

  transition: height 0.125s ease-in;
}

meta-table-selector .head>.select,
meta-table-selector .head>.select>div {
  align-items: center;
  flex-direction: row;
}

meta-table-selector .head>.select.expanded {
  max-height: var(--table-select-height-max);
  height: var(--table-select-height);
  display: flex;
}

meta-table-selector .head>.select>* {
  display: none;
}

meta-table-selector .head>.select.expanded>* {
  display: flex;
}

meta-table-selector .head>.select>.counter {
  padding-left: var(--table-counter-padding-left);
  min-width: var(--table-counter-width-min);
  max-width: var(--table-counter-width-max);
}

meta-table-selector .head>.select>.counter>.display {
  background-color: var(--table-head-counter-bg-color);
  min-width: var(--table-counter-display-width-min);
  height: var(--table-counter-display-height);
  border-radius: 2px;
  margin-right: 8px;
  text-align: center;
  line-height: var(--table-counter-display-height);
  color: var(--table-head-counter-font-color);
}

meta-table-selector .head>.select>.content>*:not(:first-child) {
  margin-left: 12px;
}
